@import url('https://fonts.googleapis.com/css2?family=Dosis:wght@200..800&display=swap');
:root{
    scroll-behavior: smooth;
}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style-type: none;
    text-transform: capitalize;
    font-family: "Dosis", sans-serif;
}
.d-flex{
    display: flex;
    justify-content: center;
    align-items: center;
}
#header{
    z-index: 1000;
    padding: 20px 10px;
    width: 100%;
    height: 85px;
    transition: all 1s;
    justify-content: space-around;
}
#header.active{
    background-color: #fff;
    position: sticky;
    top: 0;
    box-shadow: 2px 1px 3px grey;
}
.logo h1{
    color: #3c40c6;
    letter-spacing: 1px;
    margin: 0 10px;
    font-size: 2em;
}
#toggle_btn{
    display: none;
    padding: 10px;
    outline: none;
    background-color: #3c40c6;
    color: #fff;
    font-size: 20px;
    border-radius: 3px;
    border: none;
    box-shadow: 1px 1px 5px grey;
}
.navbar ul li a{
    margin: 0 10px;
    padding-bottom: 10px;
    font-size: 22px;
    font-weight: 600;
    letter-spacing: 1px;
    color: #3c40c6;
    position: relative;
}
section{
    min-height: 100vh;
    padding: 85px 10px 30px;
}
.round span{
    width: 100%;
    height: 100%;
    border-radius: 50%;
    border: 15px solid rgba(255,255,255,0.9);
    outline: 15px solid rgba(255,255,255,0.6);
    display: block;
    animation: anim1 1s linear infinite alternate;
}
@keyframes anim1{
    0%{
        border: 5px solid rgba(255,255,255,0.9);
        outline: 5px solid rgba(255,255,255,0.6);
    }100%{
        border: 15px solid rgba(255,255,255,0.9);
        outline: 15px solid rgba(255,255,255,0.6);
    }
}
.round{
    border-radius: 50%;
    margin: 0 auto;
    width: 300px;
    height: 300px;
    border: 30px solid rgba(255,255,255,0.4);
    outline: 30px solid rgba(255,255,255,0.2);
    animation: anim2 1s linear infinite alternate;
}
@keyframes anim2{
    0%{
        border: 15px solid rgba(255,255,255,0.4);
        outline: 15px solid rgba(255,255,255,0.2);
    }100%{
        border: 30px solid rgba(255,255,255,0.4);
        outline: 30px solid rgba(255,255,255,0.2);
    }
}
.round img{
    border-radius: 50%;
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.container{
    max-width: 1140px;
    margin: 0 auto;
}
.profile-pic,.profile-info{
    text-align: center;
    width: 50%;
    margin: 20px auto;
}
#home{
    background-color: #3c40c6;
}
.profile-info h1{
    font-size: 3em;
    color: #fff;
    letter-spacing: 4px;
    padding-bottom: 10px;
}
.social a{
    margin: 10px;
    padding: 10px;
    color: #fff;
    border-radius: 5px;
    border: 2px solid #fff;
    display: inline-block;
    box-shadow: 0px 0px 3px #fff, inset 0px 0px 3px #fff;
    transition: all 0.3s;
}
.social a:hover{
    border-radius: 50%;
}
.title h1{
    padding: 20px;
    font-size: 2em;
    letter-spacing: 1px;
    border-bottom: 2px solid #fff;
    color: #fff;
}
#projects{
    background-color: #3c40c6;
}
#about .hero{
    margin: 30px 0;
}
#about .profile-info p,.contact-info p{
    color: #fff;
    font-size: 20px;
    letter-spacing: 1px;
    padding: 10px;
}
footer{
    background-color: #3c40c6;
    color: #fff;
    text-align: center;
    padding: 20px;
    letter-spacing: 1px;
}
#skills{
    background-color: #3c40c6;
}
.skill-group{
    margin: 30px 10px;
    justify-content: space-around;
    align-items: baseline;
    flex-wrap: wrap;
    color: #fff;
    letter-spacing: 1px;
}
.skill-group .card{
    padding: 20px;
}
.skill-group .card li{
    padding: 10px;
    font-size: 20px;
    font-weight: 500;
}
.filters{
    flex-wrap: wrap;
    padding: 15px;
}
#search select,#search input,#search button{
    font-size: 20px;
    border: none;
    outline: none;
    padding: 5px;
    border-radius: 5px;
    margin: 0 10px;
    font-weight: 500;
    cursor: pointer;
}
#search input{
    cursor: initial;
}
#search button{
    padding: 8px;
}
.card_container{
    width: 100%;
    margin: 15px auto;
    flex-wrap: wrap;
}
.card_container .card{
    min-width: 30%;
    max-width: 300px;
    margin: 10px;
    border: 2px solid #fff;
    padding: 15px;
}
.card_container .card .thumbnail{
    overflow: hidden;
}
.card_container .card img{
    width: 100%;
    transition: all 0.5s;
    max-height: 135px;
    object-fit: contain;
}
.card_container .card h2, .card_container .card h3{
    color: #fff;
    padding: 3px 0px;
    letter-spacing: 1px;
}
.card_container .card p{
    color: #fff;
    padding: 5px 0px;
    letter-spacing: 1px;
    font-size: 17px;
}
.card_container .card .btn-box{
    justify-content: flex-start;
    flex-wrap: wrap;
}
.card_container .card .desc{
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.2s ease;
}
.card_container .card .desc.active{
    max-height: 500px;
}
.card_container .card .btn, .pagination .btn{
    padding: 7px;
    outline: none;
    border: none;
    font-size: 18px;
    margin: 3px 5px 3px 0px;
    border-radius: 5px;
    color: #fff;
    cursor: pointer;
}
.pagination{
    flex-wrap: wrap;
}
.pagination .btn{
    font-size: 20px;
    letter-spacing: 1px;
    font-weight: 500;
}
.pagination .disabled{
    cursor: initial;
}
.card_container .card:hover img{
    transform: scale(1.2);
}
.card_container .card .view, .pagination .btn{
    background-color: #130f40;
}
.card_container .card .view:hover, .pagination .btn:not(.disabled):hover{
    color: #130f40;
    background-color: #fff;
}
.card_container .card .source{
    background-color: #192a56;
}
.card_container .card .source:hover{
    color: #192a56;
    background-color: #fff;
}
.card_container .card .live{
    background-color: #2C3A47;
}
.card_container .card .live:hover{
    color: #2C3A47;
    background-color: #fff;
}
@media (min-width:900px){
    .navbar ul li a::before{
        content: "";
        position: absolute;
        left: 0;
        bottom: 0;
        width: 0%;
        height: 2px;
        border-radius: 3px;
        background-color: #3c40c6;
        transition: all 0.3s;
    }
    .navbar ul li a:hover:before,.navbar ul li a.active:before{
        width: 100%;
    }
}
@media (max-width:900px){
    #header{
        justify-content: space-between;
    }
    .logo h1{
        font-size: 25px;
    }
    .navbar{
        display: none;
    }
    .navbar.active,#toggle_btn,.navbar ul li a{
        display: block;
    }
    .navbar ul{
        flex-direction: column;
    }
    .navbar{
        position: absolute;
        top: 65px;
        right: 55px;
        box-shadow: 0px 0px 3px grey;
        border-radius: 10px;
        padding: 10px;
        background-color: #fff;
        z-index: 1000;
    }
    .hero{
        flex-direction: column;
        padding: 20px 0;
    }
    .profile-pic, .profile-info{
        width: 90%;
        margin: 20px auto;
    }
    .contact-info{
        flex-direction: column;
    }
    .c-info,.g-map{
        width: 90%;
    }
    #search select,#search input,#search button{
        margin-bottom: 10px;
    }
}
@media (max-width:500px){
    .profile-info h1{
        font-size: 2em;
    }
    .round{
        width: 250px;
        height: 250px;
    }
    .skill-group{
        justify-content: flex-start;
    }
}